table.board {
	border: 10px solid black;
	border-spacing: 0px;
	float: right;
}

td.cell {
	text-align: center; 
	vertical-align: middle; 
	width: 60px; 
	height: 60px;
	border-width:0;
}

svg.warrior {
	width: 60px;
	height: 60px;
}